.nav-link {
  cursor: pointer;
}
.nav-item {
  border: 1px solid #ffc107;
}
.nav-item:hover {
  background: none !important;
  border: 1px solid #fff;
  transition: 0.2s ease-in-out;
}
li.focus {
  width: fit-content !important;
}
.fa-search {
  top: 1px;
  left: 1px;
}
.input_search:focus {
  outline: none !important;
  border: none !important;
  z-index: 0 !important;
  box-shadow: none;
  width: 350px;
}
.fa-search:focus {
  color: black;
}
.input_search::-webkit-input-placeholder {
  color: #ffc107 !important;
}
@media screen and (max-width: 991px) {
  ul.navbar_res {
    width: 100%;
    display: contents;
  }
  .navbar_res li a {
    padding-left: inherit !important;
    padding-right: inherit !important;
  }
  .navbar_res li i.fa-search {
    top: 2px !important;
    left: 10px !important;
  }
}
@media screen and (max-width: 512px) {
  .navbar_res{
    padding: 0px;
  }
  ul.navbar_res {
    display: -webkit-inline-box;
  }
  .input_search{
    width: 0px !important;
  }
  .input_search:focus{
    width: 100% !important;
  }
}
.penal_area{
  margin-top: 100px;
}
.anchor_adj{
  background: #fff;
  box-shadow: 0px 0px 5px -1px #000000;
}
.anchor_adj:hover{
  background: #ada895;
  box-shadow: none;
  transition: 0.4s ease-in-out;
}
