*,
::after,
::before {
  box-sizing: border-box;
}
.navbar {
  padding: 3px 4px !important;
}
ul.navbar_res li{
  background: none;
}
.logo_adj{
  background: none !important;
}
.input_adj{
  background: none !important;
}
.nav-link {
  cursor: pointer;
}
.nav-item {
  border: 1px solid #2B2B52;
}
.nav-item:hover {
  background: none !important;
  border: 1px solid #fff;
  transition: 0.2s ease-in-out;
}
li.focus {
  width: fit-content !important;
}
.fa-search {
  top: 1px;
  left: 1px;
}
.input_search{
  background: none;
  padding-left: 37px;
}
.input_search i{
  color: #fff;
}
.input_search:focus {
  outline: none !important;
  border: none !important;
  z-index: 0 !important;
  box-shadow: none;
  background: #fff !important;
  color: #2B2B52 !important;
  transition: 0.4s ease-in-out;
}
i:focus {
  color: #2B2B52 !important;
}
.input_search::-webkit-input-placeholder {
  color: #fff !important;
}
.input_search::-webkit-input-placeholder:focus {
  color: #2B2B52 !important;
}
@media screen and (max-width: 991px) {
  ul.navbar_res {
    width: 100%;
    display: contents;
  }
  .navbar_res li a {
    padding-left: inherit !important;
    padding-right: inherit !important;
  }
  .navbar_res li i.fa-search {
    top: 2px !important;
    left: 10px !important;
  }
  .container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .nav-link {
    display: block;
  }
  .col-md-5 {
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
    position: relative;
    width: 100%;
    margin-left: 10px !important;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
  }
  .p-4 {
    padding: 1.5rem !important;
  }
  .ml-4 {
    margin-left: 10px !important;
  }
  .rounded {
    border-radius: 0.25rem !important;
  }
}
@media screen and (max-width: 921px) {
  .penal_area a {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .r_tab_content{
    border-left: none !important;
  }
}
@media screen and (max-width: 512px) {
  ul.navbar_res {
    display: -webkit-inline-box;
  }
  .logo_adj a span{
    font-size: 28px !important;
  }
  .navbar_res li a {
    padding-left: inherit !important;
    padding-right: inherit !important;
  }
  .input_search {
    background: none !important;
    width: 0px !important;
  }
  .input_search:focus {
    width: 100% !important;
  }
  .col-lg-5 {
    flex: 0 0 41.666667% !important;
    max-width: 41.666667% !important;
  }
}
.penal_area {
  margin-top: 100px;
}
.r_tab_content{
  border-left: 1px dashed #2B2B52;
}
.anchor_adj {
  background: #a7dbd8;
  /* border: 1px solid #a7dbd8; */
  color: #2B2B52 !important;
}
/* .anchor_adj {
  background: #fff;
  box-shadow: 0px 0px 5px -1px #000000;
} */
.anchor_adj:hover {
  background: #69d2e7;
  /* box-shadow: 0px 0px 2px 2px #2B2B52; */
  color: #fff !important;
  transition: 0.4s ease-in-out;
}
.anchor_create_adj{
  color: #2B2B52;
}
.anchor_create_adj:hover {
  background: #ffffff;
  box-shadow: 0px 0px 2px 2px #2B2B52;
  color: #2B2B52 !important;
  transition: 0.4s ease-in-out;
}
