*,
::after,
::before {
	box-sizing: border-box;
}
.navbar {
	padding: 3px 4px !important;
}
ul.navbar_res li {
	background: none;
}
.logo_adj {
	background: none !important;
}
.logo_adj:hover {
	box-shadow: none !important;
}
.input_adj {
	background: none !important;
}
.nav-link {
	cursor: pointer;
}
.nav-item {
	border: 2px solid #2b2b52;
}
.nav-item.nav_input:hover {
	border: 2px solid #2b2b52;
	box-shadow: none;
}
.nav-item:hover {
	background: none !important;
	border: 2px solid #fff;
	transition: 0.2s ease-in-out;
	box-shadow: 0px 0px 4px 0px #ffffff;
}
li.focus {
	width: fit-content !important;
}
.fa-search {
	top: 1px;
	left: 1px;
}
input[type="text"].input_search {
	background: #2b2b52;
	padding-left: 37px;
	width: 120px !important;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
}
input[type="text"].input_search:focus {
	outline: none !important;
	border: none !important;
	z-index: 0 !important;
	box-shadow: none;
	width: 250px !important;
	background: #fff !important;
	color: #2b2b52 !important;
	transition: 0.5s ease-in-out;
}
.input_search i {
	color: #fff;
}
.input_search:focus + i.fa-search {
	color: #2b2b52 !important;
}
::-webkit-input-placeholder {
	color: #fff !important;
	transition: 0.5s ease-in-out;
}
:focus::-webkit-input-placeholder {
	color: #2b2b52 !important;
	/* opacity: 0.1; */
}
.penal_area {
	margin-top: 100px;
}
.r_tab_content {
	border-left: 1px dashed #2b2b52;
}
.anchor_adj {
	border-radius: 0px 20px 20px 0px !important;
	color: #2b2b52 !important;
}
.p_anchor_adj {
	background: #a7dbd8;
	color: #2b2b52 !important;
}
.p_anchor_adj:hover {
	background: #69d2e7;
	color: #2b2b52 !important;
	box-shadow: 4px 4px 1px -1px #2b2b52;
	transition: 0.5s ease-in-out;
}
.anchor_adj:hover {
	background: #2b2b52;
	padding-left: 140px !important;
	color: #fff !important;
	transition: 1s ease-in-out;
}
.anchor_create_adj {
	color: #2b2b52;
}
.anchor_create_adj:hover {
	background: #ffffff;
	box-shadow: 0px 0px 2px 2px #2b2b52;
	color: #2b2b52 !important;
	transition: 0.4s ease-in-out;
}
.btnClose_adj {
	left: 370px;
	padding: 5px !important;
	vertical-align: middle !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.btnClose_adj1 {
	left: 270px;
	padding: 5px !important;
	vertical-align: middle !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.drpHeader_adj {
	font-size: large !important;
}
/* Note: Below code is used for dropdown onHover. To use this remove data-toggle attribute */
/* .dropdown:hover > .dropdown-menu {
	display: block;
} */
/* Note: Below code is used for dropdown onHover. To use this remove data-toggle attribute */
.drp_adj {
	width: 400px !important;
	border: none;
	padding: 5px !important;
	background: #2b2b52;
	position: absolute;
	left: -301px !important;
	top: 40px;
}
.drp_adj1 {
	width: 300px !important;
	border: none;
	padding: 5px !important;
	background: #2b2b52;
	position: absolute;
	left: -255px !important;
	top: 40px;
}
.drp_adj a {
	color: #fff;
}
.drp_adj1 a {
	color: #fff;
}

@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

/* Media Query Here */
@media screen and (max-width: 1199px) {
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 100px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
}
@media screen and (max-width: 991px) {
	ul.navbar_res {
		width: 100%;
		display: contents;
	}
	.navbar_res li a {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}
	.navbar_res li i.fa-search {
		top: 2px !important;
		left: 10px !important;
	}
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 90px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
	.container {
		max-width: 960px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.nav-link {
		display: block;
	}
	.col-md-5 {
		flex: 0 0 41.666667% !important;
		max-width: 41.666667% !important;
		position: relative;
		width: 100%;
		margin-left: 10px !important;
	}
	.col-lg-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		position: relative;
		width: 100%;
	}
	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
		position: relative;
		width: 100%;
	}
	.p-4 {
		padding: 1.5rem !important;
	}
	.ml-4 {
		margin-left: 10px !important;
	}
	.rounded {
		border-radius: 0.25rem !important;
	}
}
@media screen and (max-width: 806px) {
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 80px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
}
@media screen and (max-width: 921px) {
	.penal_area a {
		font-size: 15px;
	}
}
@media screen and (max-width: 767px) {
	.r_tab_content {
		border-left: none !important;
	}
}
@media screen and (max-width: 512px) {
	ul.navbar_res {
		display: -webkit-inline-box;
		/* overflow: scroll; */
	}
	.logo_adj a span {
		font-size: 28px !important;
	}
	.navbar_res li a {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}
	.input_adj {
		width: 100% !important;
	}
	input[type="text"].input_search {
		background: none !important;
		width: 0px !important;
	}
	.input_search:focus {
		width: 100% !important;
	}
	.col-lg-5 {
		flex: 0 0 41.666667% !important;
		max-width: 41.666667% !important;
	}
}
