*,
::after,
::before {
	box-sizing: border-box;
}
/* .navbar {
	padding: 3px 4px !important;
} */
ul.navbar_res li {
	background: none;
}
.logo_adj {
	background: none !important;
}
.logo_adj:hover {
	box-shadow: none !important;
}
.input_adj {
	background: none !important;
}
.nav-link {
	cursor: pointer;
}
a.nav-link {
	color: #2b4949 !important;
}
.nav-item {
	/* border: 2px solid #2b2b52; */
}
.nav-item.nav_input:hover {
	border: 2px solid #2b2b52;
	box-shadow: none;
}


.board-logo {
	padding-left: 100px;
}


.navbar-nav {
	padding-right: 100px;
}

.fa-bell, .fa-user {
	font-size: 26px;
	color: white;
}

.fa-flipboard, .fa-500px, .fa-history, .fa-project-diagram, .fa-plus {
	color: #2b4949;
}

.fa-plus-circle{
	color: #2b4949;
}
/* .fa-search {
	top: 1px;
	left: 1px;
} */
/* input[type="text"].input_search {
	background: #2b2b52;
	padding-left: 37px;
	width: 120px !important;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
} */
/* input[type="text"].input_search:focus {
	outline: none !important;
	border: none !important;
	z-index: 0 !important;
	box-shadow: none;
	width: 250px !important;
	background: #fff !important;
	color: #2b2b52 !important;
	transition: 0.5s ease-in-out;
} */
/* .input_search i {
	color: #fff;
}
.input_search:focus + i.fa-search {
	color: #2b2b52 !important;
} */
input::-webkit-input-placeholder {
	color: #fff !important;
	transition: 0.5s ease-in-out;
}
input:focus::-webkit-input-placeholder {
	color: #2b2b52 !important;
	/* opacity: 0.1; */
}
.penal_area {
	margin-top: 175px;
}
.r_tab_content {
	border-left: 1px dashed #2b2b52;
}
.anchor_adj {
	/* border-radius: 0px 20px 20px 0px !important; */
	color: #2b2b52 !important;
}
.anchor_adj:hover {
	background: #fea203;
	/* padding-left: 140px !important; */
	color: #fff !important;
	transition: 1s ease-in-out;
}

.anchor_create_adj{
	background-color: white;
	color: #2b4949;
}
.anchor_create_adj:hover {
	background: #fea203;
    /* padding-left: 140px !important; */
    color: #fff !important;
    transition: 1s ease-in-out;
}
.btnClose_adj {
	left: 370px;
	padding: 5px !important;
	vertical-align: middle !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.btnClose_adj1 {
	left: 270px;
	padding: 5px !important;
	vertical-align: middle !important;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.border-danger{
	border: 1px solid #FF3E4D !important;
}
.text-2b4949 {
	color: #2b4949;
}
.drpHeader_adj {
	font-size: large !important;
}
/* Note: Below code is used for dropdown onHover. To use this remove data-toggle attribute */
/* .dropdown:hover > .dropdown-menu {
	display: block;
} */
/* Note: Below code is used for dropdown onHover. To use this remove data-toggle attribute */
.drp_adj {
	width: 400px !important;
	border: none;
	padding: 5px !important;
	background: #2b4949;
	position: absolute;
	top: 60px;
	right: 10px;
}
.drp_adj1 {
	width: 300px !important;
	border: none;
	padding: 5px !important;
	background: #2b4949;
	position: absolute;
	top: 60px;
	right: 10px;
}
.drp_adj a {
	color: #fff;
}
.drp_adj1 a {
	color: #fff;
}
.dropdown:hover>.dropdown-menu {
	display: block;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #fea203 !important;
}

/* UserProfile starts from Here */

.header-area {
	background-color: #2b4949;
	
	padding-top: 60px;
	/* padding-bottom: 50px; */
}

.mt-adjust {
    background-color: #2b4949;
}

.smallHeading {
	font-size: 14px !important;
}

.btnProfile {
	background: white;
	color: black !important;
	padding: 8px 20px;
	color: black !important;
    background-color: white;
    border: 1px solid #dfe1e6;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    font-weight: 700;
}

.dogImg {
	display: block;
    margin: 18px auto 42px;
    max-width: 100%;
    height: auto;
}

.m-section {
	margin-top: 55px;
}

.m-container{
	width: 100%;
    max-width: 530px;
    /* display: flex; testing testing*/ 
    flex-direction: column;
    margin: auto;
}

.m-form {
	margin-bottom: 150px;
}

.m-heading {
	color: #172b4d;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.01em;
    line-height: 28px;
    margin-top: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}
.pgh {
	color: #5e6c84;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    white-space: pre-line;
}

.m-about {
	color: #172b4d;
    font-size: 20px;
    font-weight: 600 !important;
    letter-spacing: -.008em;
    /* line-height: 24px;
    margin-top: 28px; */
    font-weight: 500;
    line-height: 26px;
    margin-top: 40px;
}

.m-hr {
	background-color: rgba(9,30,66,.13);
    border: 0;
    height: 1px;
    margin: 16px 0;
    padding: 0;
    width: 100%;
}

.f-headings {
	color: #172b4d;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.003em;
    line-height: 16px;
    /* margin-top: 16px; */
    margin-top: 0;
    padding-top: 16px;
}

.t-box {
	-webkit-box-align: center;
    align-items: center;
    background-color: rgb(250, 251, 252);
    box-sizing: border-box;
    color: rgb(23, 43, 77);
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    overflow-wrap: break-word;
    vertical-align: top;
    pointer-events: auto;
    box-shadow: rgb(223, 225, 230) 0px 0px 0px 2px inset;
    line-height: 20px;
    max-height: 36px;
    border-radius: 3px;
    flex: 1 1 100%;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.t-field {
	background-color: inherit;
    box-shadow: inherit;
    margin: unset;
    transition: inherit;
    padding: 8px 12px;
	border-radius: inherit;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.save-btn {
	margin-top: 40px;
	background: #838686;
	color: #fff;
	width: 100%;
	padding: 4px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}

.save-btn:hover {
	background: #fea203;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.boardBox {
	background-color: #00997b;
	padding-bottom: 60px !important;
}

a.boardBox {
	font-weight: 500;
	text-decoration: none;
	color: white;
	
}
.boardBox:hover {
	color: white;
	background-color: #fea203;
	transition: 0.5s ease-in-out;
	text-decoration: none;
}

/* Board Area below header starts from here */
/* To style navbar */

.main-wrap {
	
	background-color: #67D77E;
}

.main-wrap .navbar-adj {
	width: 90%;
	margin: auto;
}

.main-wrap .navbar-adj a {
	color: white !important;
}

.board_area {
	background-color: #67D77E;
	/* height: 100vh; */
}

.b-card {
	width: 250px;	
}
.recents .h5{
		background: #67d77e;
		color: white;
		border-radius: 5px;
		box-shadow: 0px 0px 3px 2px #00997b;
}
.modal-body-adjust{
	background: rgba(0,0,0,0.6);
}
/* Board Area below header ends here */
/* Media Query Here */


@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

/* Media Query Here */
@media screen and (max-width: 1199px) {
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 100px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
}
@media screen and (max-width: 991px) {
	ul.navbar_res {
		width: 100%;
		display: contents;
	}
	.navbar_res li a {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}
	.navbar_res li i.fa-search {
		top: 2px !important;
		left: 10px !important;
	}
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 90px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
	.container {
		max-width: 960px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.nav-link {
		display: block;
	}
	.col-md-5 {
		flex: 0 0 41.666667% !important;
		max-width: 41.666667% !important;
		position: relative;
		width: 100%;
		margin-left: 10px !important;
	}
	.col-lg-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		position: relative;
		width: 100%;
	}
	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
		position: relative;
		width: 100%;
	}
	.p-4 {
		padding: 1.5rem !important;
	}
	.ml-4 {
		margin-left: 10px !important;
	}
	.rounded {
		border-radius: 0.25rem !important;
	}
}
@media screen and (max-width: 806px) {
	.anchor_adj:hover {
		background: #2b2b52;
		padding-left: 80px !important;
		color: #fff !important;
		transition: 1s ease-in-out;
	}
}
@media screen and (max-width: 921px) {
	.penal_area a {
		font-size: 15px;
	}
}
@media screen and (max-width: 767px) {
	.r_tab_content {
		border-left: none !important;
	}
}
@media screen and (max-width: 512px) {
	ul.navbar_res {
		display: -webkit-inline-box;
		/* overflow: scroll; */
	}
	.logo_adj a span {
		font-size: 28px !important;
	}
	.navbar_res li a {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}
	.input_adj {
		width: 100% !important;
	}
	input[type="text"].input_search {
		background: none !important;
		width: 0px !important;
	}
	.input_search:focus {
		width: 100% !important;
	}
	.col-lg-5 {
		flex: 0 0 41.666667% !important;
		max-width: 41.666667% !important;
	}
}
